@charset "UTF-8";

@import url(/fonts/fonts.css);

:root {
   --geometric:
      "Century Gothic", Futura, Avenir, Outfit, "League Spartan", "Twentieth Century",
      Neuzeit, Sofia, "Harmonia Sans", "Museo Sans", Gotham, Radikal, Fredoka,
      Railway, "Atkinson Hyperlegible", "IBM Plex Sans", Overpass, Rubik,
      Montserrat, Roboto, Geneva, Tahoma, Verdana, Helvetica, sans-serif;
}

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   background-color: rgb(0, 15, 30);
   color: rgb(225, 240, 255);
   font-family:
      Georgia, Didot, Palatino, "Palatino Linotype", "Book Antiqua",
      Garamond, "Goudy Old Style", Perpetua, Baskerville, Gentium, serif;
   margin: auto;
   max-width: 750px;
   min-width: 500px;
   touch-action: manipulation;
   width: 80%;
}

fieldset, table#gameboard {
   float: left;
}

h1 {
   color: rgb(225, 165, 195);
   font-family: var(--geometric);
   font-size: 250%;
   font-weight: bold;
}

label {
   display: block;
}

.drop {
   height: 25px;
   width: 80px;
}

.hint {
   color: rgb(60, 60, 60);
   font-weight: bold;
   text-align: center;
}

.space {
   height: 60px;
   width: 80px;
}

::selection {
   background-color: rgb(30, 15, 0);
   color: rgb(90, 120, 150);
}

@media screen and (prefers-color-scheme: light) {
   body {
      background-color: rgb(225, 240, 255);
      color: rgb(0, 15, 30);
   }

   h1 {
      color: rgb(90, 0, 45);
   }

   .hint {
      color: rgb(255, 255, 255);
   }

   ::selection {
      background-color: rgb(255, 240, 225);
      color: rgb(90, 120, 150);
   }
}
